        <header class="site-header header-transparent text-black mo-left" id="fix-header">
          <div class="sticky-header main-bar-wraper navbar-expand-lg">
            <div class="main-bar clearfix ">
              <div class="container clearfix">
                <div class="logo-header mostion logo-dark">
                  <a href="{{site.link}}">
                    <img src="{{ theme.link }}/static/images/logo.png" alt="" />
                  </a>
                </div>
                <button class="navbar-toggler collapsed navicon justify-content-end ">
                  <span></span>
                  <span></span>
                  <span></span>
                </button>
                <div class="extra-nav">
                  <div class="extra-cell">
                    <a class="btn btn-link d-inline-flex align-items-center" href="contact-us-1.html">
                      <i class="fa fa-angle-right m-r10"></i>Get A Quote </a>
                  </div>
                </div>
                <div class="header-nav navbar-collapse collapse justify-content-end " id="navbarNavDropdown">
                  <div class="logo-header">
                    <a href="{{site.link}}">
                      <img src="{{ theme.link }}/static/images/logo.png" alt="" />
                    </a>
                  </div>
                  <ul class="nav navbar-nav navbar">
                    <li>
                      <a href="{{site.link}}">Home</a>
                    </li>
                    <li class="">
                      <a>
                        <span>Pages</span>
                        <i class="fa fa-chevron-down"></i>
                      </a>
                      <ul class="sub-menu">
                        <li>
                          <a href="about-us-1.html">About Us</a>
                        </li>
                        <li>
                          <a href="faq-1.html">Faq</a>
                        </li>
                        <li>
                          <a href="pricing-table-1.html">Pricing Table</a>
                        </li>
                        <li>
                          <a href="team-1.html">Team</a>
                        </li>
                        <li>
                          <a href="coming-soon.html">Coming Soon</a>
                        </li>
                        <li>
                          <a href="error-404.html">Error 404</a>
                        </li>
                        <li>
                          <a href="sitedown.html">Site Down</a>
                        </li>
                      </ul>
                    </li>
                    <li class="">
                      <a>
                        <span>Services</span>
                        <i class="fa fa-chevron-down"></i>
                      </a>
                      <ul class="sub-menu">
                        <li>
                          <a href="services-1.html">Services</a>
                        </li>
                        <li>
                          <a href="services-details-1.html">Services Details</a>
                        </li>
                      </ul>
                    </li>
                    <li class="">
                      <a>
                        <span>Blog</span>
                        <i class="fa fa-chevron-down"></i>
                      </a>
                      <ul class="sub-menu">
                        <li>
                          <a href="blog-large-right-sidebar.html">Large Right Sidebar</a>
                        </li>
                        <li>
                          <a href="blog-details-1.html">Blog Details</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="contact-us-1.html">Contact Us</a>
                    </li>
                  </ul>
                  <div class="dlab-social-icon">
                    <ul>
                      <a class="fa fa-facebook" href="https://en-gb.facebook.com/"></a>
                      <a class="fa fa-twitter" href="https://twitter.com/login?lang=en"></a>
                      <a class="fa fa-linkedin" href="https://www.linkedin.com/login"></a>
                      <a class="fa fa-instagram" href="https://www.instagram.com/"></a>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>