<section class="content-inner">
<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-6 m-b30 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.2s">
      <div class="dz-media">
        <img src="{{ get_image(post.meta.about_banner).src }}" class="move-1" alt="" />
      </div>
    </div>
    <div class="col-lg-6 m-b30 wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.4s">
      <div class="section-head style-1 mb-4">
        <h6 class="sub-title bgl-primary m-b20 text-primary">{{ post.meta('about_headline') }}</h6>
        <h2 class="title">{{ post.meta('about_title') }}</h2>
      </div>
      {{ post.meta('about_description') }}
      <h4 class="m-b30">{{ post.meta('ceo') }}</h4>
      <a class="btn btn-link d-inline-flex align-items-center" href="/about-us">
        <i class="fa fa-angle-right m-r10"></i>Learn More </a>
    </div>
  </div>
</div>
</section>