<section class="content-inner-2 wow fadeInUp" style="background-image:url({{ theme.link }}/static/images/background/bg1.png)">
<div class="container">
  <div class="section-head style-1 text-center">
    <h6 class="sub-title bgl-primary m-b20 text-primary">{{ post.meta('services_headline') }}</h6>
    <h2 class="title">{{ post.meta('services_title') }}</h2>
  </div>
  <div class="row">
  {% for item in post.meta('services') %}
  <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
  <div class="icon-bx-wraper style-1 box-hover text-center m-b30">
    <div class="icon-bx-md radius bg-green shadow-green">
      <a class="icon-cell" href="#">
        <i class="{{ item.icon }}"></i>
      </a>
    </div>
    <div class="icon-content">
      <h4 class="dlab-title">{{ item.title }}</h4>
      <p>{{ item.description }}</p>
    </div>
  </div>
</div>
  {% endfor %}
  </div>
</div>
</section>